.card {
    height: 100%;
    /* make all cards same height inside column */
}

.card-img-top {
    height: 300px;
    /* choose any height you want */
    object-fit: cover;
    /* keeps image centered and cropped */
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .btn {
    margin-top: auto;
    /* push button to bottom */
}